.Screen {
    height: 25vh;
    width: 100%;
    background-color: rgb(47, 26, 71);
    color: rgb(162, 81, 255);
    overflow: hidden;
    padding: 0 10px;
    white-space: nowrap;
    box-sizing:border-box;
    border-bottom: 5px black solid
}